@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
::selection{
    background: rgba(0,0,0,0.075);
}
@media screen and (max-device-width: 1600px) and (min-device-width: 1280px){

    body{
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        font-family: 'JetBrains Mono', monospace;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #title{
        font-size: 48px;
        text-shadow: rgba(0,0,0,0.2) 2px 2px 0;
        color: #111;
    }
    .title_link{
        text-decoration: none;
        color: #111111;
    }

    #week_type_today{
        font-size: 19px;
        margin: 24px 0 0 0;
        text-shadow: rgba(0,0,0,0.2) 0 0 2px;
    }

    .search_box{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .search_input{
        border-radius: 0;
        border: 0;
        box-shadow: rgba(0,0,0,0.2) 0 0 2px;
        width: 450px;
        height: 48px;
        font-family: 'JetBrains Mono', monospace;
        font-size: 19px;
        padding: 0 0 0 20px;
        margin: 100px 0 0 0;
    }

    .search_input:hover,
    .search_input:focus{
        box-shadow: rgba(0,0,0,0.5) 0 0 2px;
    }

    .search_btn{
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 -48px;
        border: 0;
        background: 0;
        color: rgba(0,0,0,0.4);
        font-size: 19px;
    }

    .search_btn:hover{
        cursor: pointer;
    }

    .search_btn:hover>.search_input{
        box-shadow: rgba(0,0,0,0.5) 0 0 2px;
    }

    .material-icons-outlined{
        font-size: 20px;
    }

    .info{
        display: flex;
        position: fixed;
        width: 20px;
        height: 20px;
        bottom: 15px;
        left: 15px;
        color: #818181;
        z-index: 1000;
        user-select: none;
    }

    .info:hover{
        color: #555;
        cursor: pointer;
    }

    .side_block{
        position: fixed;
        width: 400px;
        height: calc(100vh - 100px);
        left: -500px;
        box-shadow: none;
        background: rgba(255, 255, 255, 1);
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .side_block_text{
        font-size: 14px;
        line-height: 21px;
        color: #7E7E7E;
    }

    .side_block_link{
        text-decoration: none;
        color: #000;
    }
    .side_block_link:hover{
        border-bottom: 1px solid #000;
    }
}
@media screen and (max-device-width: 1920px) and (min-device-width: 1600px){

    body{
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        font-family: 'JetBrains Mono', monospace;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #title{
        font-size: 60px;
        text-shadow: rgba(0,0,0,0.2) 2px 2px 0;
        color: #111;
    }
    .title_link{
        text-decoration: none;
        color: #111111;
    }

    #week_type_today{
        font-size: 24px;
        margin: 30px 0 0 0;
        text-shadow: rgba(0,0,0,0.2) 0 0 2px;
    }

    .search_box{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .search_input{
        border-radius: 0;
        border: 0;
        box-shadow: rgba(0,0,0,0.2) 0 0 2px;
        width: 562px;
        height: 60px;
        font-family: 'JetBrains Mono', monospace;
        font-size: 24px;
        padding: 0 0 0 25px;
        margin: 125px 0 0 0;
    }

    .search_input:hover,
    .search_input:focus{
        box-shadow: rgba(0,0,0,0.5) 0 0 2px;
    }

    .search_btn{
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 -60px;
        border: 0;
        background: 0;
        color: rgba(0,0,0,0.4);
        font-size: 24px;
    }

    .search_btn:hover{
        cursor: pointer;
    }

    .search_btn:hover>.search_input{
        box-shadow: rgba(0,0,0,0.5) 0 0 2px;
    }

    .material-icons-outlined{
        font-size: 25px;
    }

    .info{
        display: flex;
        position: fixed;
        width: 25px;
        height: 25px;
        bottom: 20px;
        left: 20px;
        color: #818181;
        z-index: 1000;
        user-select: none;
    }

    .info:hover{
        color: #555;
        cursor: pointer;
    }

    .side_block{
        position: fixed;
        width: 500px;
        height: calc(100vh - 124px);
        left: -624px;
        box-shadow: none;
        background: rgba(255, 255, 255, 1);
        padding: 62px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .side_block_text{
        font-size: 18px;
        line-height: 26px;
        color: #7E7E7E;
    }

    .side_block_link{
        text-decoration: none;
        color: #000;
    }
    .side_block_link:hover{
        border-bottom: 1px solid #000;
    }
}