{% extends 'main/main_template.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <p id="title">
            <a href="" class="title_link">{{ title }}</a>
        </p>
        <p id="week_type_today">сегодня {{ today_date }}</p>

        <form class="search_box">
            <input placeholder="НОМЕР ГРУППЫ" class="search_input">
            <button class="search_btn">
                <span class="material-icons">
                    search
                </span>
            </button>
        </form>

        <a class="info" onclick="show_side_block()">
            <span class="material-icons-outlined">
                info
            </span>
        </a>

    </div>
    <div class="side_block">
        <p class="side_block_text">
            {% autoescape on %}
                {{ help_text|safe }}
            {% endautoescape %}
        </p>

    </div>

{% endblock %}